
#portfolio{
width: 100%;
height: auto;
color: $skill-color;
padding-top: 4rem;
padding-bottom: 80px;
position: relative;
background-color: $portfolio-color;
border-bottom: 1px $about-font solid;

.card{
width: 100%;
margin-top: 40px;
margin-bottom: 10px;
font-family: 'Armata', sans-serif;

}
.card h3{
margin-top: 10px;
font-family: $primary-font-family;
}
.card p{
font-size:1rem;
text-align:center;
padding: 0 24px 0 40px;
}

.head-portfolio{
grid-column: 1/-1;
margin-top: 30px;
text-transform: uppercase;
font-size: 2.5rem;
color: rgb(166, 178, 176);
}

}

p{
font-size: 1.5rem;
}

/* New css*/

.my-mod{
display: none;
background-color: rgba(#000,  0.8);
position: fixed;
left: 0;
top: 0;
height: 100%;
width: 100%;
z-index: 100;

}
.my-mod:target{
display: table;
}
.mod-dialog{
display: table-cell;
color: #fff;
vertical-align: middle;

}

.mod-fire{
text-decoration: none;
padding: 0.7rem;
background-color: $secoundary-color;
margin-top: 200px;
display: inline-block;
border-radius: 5px;
color: #000;

}

.visit-page{
text-decoration: none;
padding: 0.9rem;
background-color: $secoundary-color;
color: #000;
margin: 0 auto;
cursor: pointer;
border-radius: 10%;
}

.mod-body{
ul li{
font-size: 1.5rem;
font-weight: 200;
}
}
.mod-text{
text-align: left;
margin: 20px;
font-weight: 200;
font-size: 1.4rem;

}

.mod-content{
width: 50%;
//height: auto;
min-width: 300px;
margin:  auto;
background-color: rgb(0, 34, 34);
position: relative;
padding-bottom: 40px;
animation: slideUp 0.3s ease-in-out;
}
.mod-header{
background-color:$contact-color;
padding: 1rem;
position: relative;
}
.mod-title{
margin: 0;
color: $secoundary-color;
}
.mod-close{
position: absolute;
top: 1rem;
right: 1rem;
color: #fff;
text-decoration: none;
font-size: 1.7rem;
}


@keyframes slideUp{
from{
opacity: 0;
bottom: -200px;

}

to{
opacity: 1;
bottom: 0;
}

}


#portfolio-btn{
margin-top:200px;
font-size: 1rem;
}
.gallery-wrapper{
width: 80%;
font-size: 1.2rem;
display: grid;
grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );
text-align: center;
grid-auto-flow: row;
justify-items: center;
margin: 0 auto;
gap: 1rem;

}

.box{
width: 100%;
margin-top: 40px;
margin-bottom: 10px;
font-family: 'Armata', sans-serif;
max-width: 100%;
width: 350px;
height: 300px;
//background-color:rgb(131, 131, 146);
position: relative;
display: inline-block;

}

.overlay{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
bottom: 0;
right: 0;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
-webkit-transition: .3s ease;
transition:  .3s ease;
background-color:rgba(0, 34, 34, 1);
opacity: 0.8;

}  


.content{
color: black;
position: absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
text-align: center;


}

.card-1:hover .overlay{
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
cursor: pointer;
border: 5px solid rgb(245, 247, 248);
border-radius: 40px 0px 40px 0px;
.content{
color: #fff;
opacity: 1;
}

}

.box h3{
margin-top: 10px;
font-family: $primary-font-family;
}
.box p{
font-size:1rem;
text-align:center;
padding: 0 24px 0 40px;
}
.box img{
display: block;
max-width: 100%;
width: 350px;
height: 299px;
filter: sepia(0.76);
opacity: 0.60;
border: 5px solid #1C6EA4;
border-radius: 40px 0px 40px 0px;
}


